h1 {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 40px;
    font-weight: bold;
}

img {
    display: block;
    height: auto;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

ul{
    font-size: 40px;
}

a {
    color: white;
    background-color: black;
}